body {
  background:#007ac9;
  color: #fff;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 3em;
}

#container {
  width: 90%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}

p {
  margin: 0;
}

#minutesLeft, #minutesLeftZero {
  font-weight: 600;
  font-size: 3em;
}

#minutesLeftZero {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 5% auto;
  width: 80%;
}

footer span {
  color: #000;
  font-size: .25em;
}

footer span a {
  color: #000;
}
